<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="OrangeHRM">

    <parameter name="browser" value="chrome"></parameter>
    <parameter name="url" value="http://localhost:90"></parameter>

    <test name="Suite1">
        <classes>
            <!--            <class name="LoginPageTestSuite"/>-->
            <class name="AdminTestSuite"/>
            <!--            <class name="JobMasterData"></class>-->
        </classes>
    </test>
</suite>